.input-field {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.spring-api {
    display: grid;
    min-height: 100vh;
    align-items: center;
}

.form-container {
    width: 100%;
    display: grid;
}

.product-form {
    width: 400px;
    justify-self: center;
}

.buttons {
    display: flex;
    direction: row;
    justify-content: center;
    margin-top: 20px;
}

.product-list {
    width: 600px;
    justify-self: center;
    margin: 30px;
}

.product-list tr {
    height: 30px;
}

.edit-update {
    display: flex;
    direction: row;
    justify-content: space-evenly;
    height: 30px;
}